<style>
{
  background-color:#FFF;
}

.galeria {
  height: calc( var(--h) + 1em);
  width: var(--w);
  margin:0em;
  border: 1px solid #555;
  position: relative;
  display:inline-block;
}

.galeria img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s;
}

.galeria input[type=radio] {
  position: relative;
  bottom: calc(-1 * var(--h) - 1.5em);
  left: .5em;
  z-index: 1;
  left: 50%;
}

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}


/* Menu Principal*/
.divmenu{
z-index: 2;
width:25%;
position: relative;
margin-top:196px ;
    background-color: transparent;

}

nav{
    overflow:hidden;
    padding:10px;
    width:100%;
    background-color: transparent;
  

}

nav ul{
    list-style:none;
    margin:0 0px 0px;
    padding:0;
    background-color: transparent;
}

nav ul li{
    /*Bordes redondeados*/
    -webkit-border-radius:5px;/*Chrome y Safari*/
    -moz-border-radius:5px;/*Firefox*/
    -o-border-radius:5px;/*Opera*/
    border-radius:5px;/*Estandar por defecto*/
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin-right:20px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
    text-shadow: 0px 1px 0px #FFF;
        background-color: transparent;
}

nav ul li:hover{
       background-color: transparent;
   		  
}
nav ul li a{
    color:#000;
    display:block;
    padding:10px;
    text-decoration:none;
    background-color: #FF9800;
    width:97%;
    border: solid 1px #000;
    margin: 1px;
    border-radius:20px 20px 0px 0px;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}
nav ul li a:hover {
    color:#fff;
    background-color:#EF381E;
}

nav ul li a:link {
    color:#000;
    
}

/* MENU LATERAL */
#menu2 ul {
    list-style-type: none;
    margin: 5px;
    padding: 0px;
    width: 15%;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

#menu2 ul li {
    background-color: #FFBC49;
    border: 1px solid #FF9800;
}

#menu2 ul li a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 10px 10px 20px;
}

#menu2 ul li a:hover {
    background: #EF381E;
    border-left: 10px solid #333;
    color: #fff;
}

#redessociales
{
	position: relative;
/*background-color: #000;*/
width: 10%;
height: 60px;
margin-top:-150px;
margin-left: 87%;

}

.seccion1

{
width: 80%;
height: 800px;
margin-left:17%;
font-family: Arial, Helvetica, sans-serif;


}

.seccion2

{
margin-left:15px;
margin-bottom: 3px;
/*background-color: #ccc;*/
height: calc( var(--h) + 1em);
width: var(--w);

}

.titulo1

{ background-color: #F5C783;
  border: solid 1px #EF4F32;
  height: calc( var(--h) + 1em);
  width: var(--w);
  text-align: center;


}



.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

}
</style>
